* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    background: linear-gradient(90deg, orange, purple);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    color: #ccc;
}
#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}
.mainContainer {
    width: 50%;
    background: #fff;
}
